@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
 
    --header-bg-color: #AB2121;
    --nav-bg-color: #7A0000;
    --header-shadow: 0px 3px 25px rgba(0, 0, 0, 0.25);


    --side-panel-bg-color: linear-gradient(135deg, rgba(80,5,5,1) 0%, rgba(122,3,3,1) 100%);
    --side-panel-menu-color: #8A0000;

    /* filter: var(--side-panel-shadow); */
    --side-panel-shadow: drop-shadow(8px 0px 25px rgba(0, 0, 0, 0.25));
    --side-panel-menu-shadow: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.25));

    --gallery-bg-color: linear-gradient(135deg, rgba(93,0,0,1) 0%, rgba(94,48,48,1) 100%);
    --gallery-card-color: linear-gradient(45deg, rgba(138,0,0,1) 0%, rgba(142,63,63,1) 100%);

    /* filter: var(--gallery-card-shadow); */
    --gallery-card-shadow: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.25));
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.625rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(93, 0, 0);
    color: white;
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    
}


.fa-bars {
    font-size: 5rem;
}
.fa-bars:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

header {
    height: 17.5vh;
    width: 100%;
    background-color: var(--header-bg-color);
    z-index: 100;
    position: relative;    
    filter: drop-shadow(var(--header-shadow));
}
.header-container {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    z-index: 101;
    filter: drop-shadow(var(--header-shadow));
    box-shadow: var(--header-shadow);
    
}

.logo {
    font-size: 5rem;
    font-weight: 300;
}

nav {
    background-color: var(--nav-bg-color);
    height: 7.5vh;
    width: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.menus {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 25px;
}
a {
    text-decoration: none;
    color: inherit;
}

.menu {
    background-color: var(--header-bg-color);
    padding: 0.2em 1em;
    border-radius: 10px;
    font-weight: 300;
    font-size: 2rem;
}

.sidebar {
    background-image: var(--side-panel-bg-color);
    height: 82.5vh;
    width: 20vw;
    filter: var(--side-panel-shadow);
}

.portfolios {
    padding: 0 25px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio {
    list-style-type: none;
    text-decoration: none;
    background-color: var(--side-panel-menu-color);
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 500;
    filter: var(--side-panel-menu-shadow);
    transition: all 0.3s ease-in-out;
}


.page {
    display: flex;
    flex-direction: row;
}

.dashboard {
    width: 80vw;
    height: 82.5vh;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding: 50px;
    height: 100%;
}

.gallery-item {
    background: var(--gallery-card-color);
    height: calc(27.5vh - 50px);
    border-radius: 10px;
    filter : var(--gallery-card-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--header-bg-color);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px -8px 25px rgba(0, 0, 0, 0.25));
}
.copyright{
    font-size: 1.25rem;
    font-weight: 300;
}